<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
        table {
            background-image: url("../../static/bor.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 345px;
        }

        a {
            font-size: large;
            text-decoration: none;
            color: #2E3434;
            padding-right: 5px;
            padding-left: 5px;
        }

        a:hover {
            color: #5C7A9A;
        }
    </style>
</head>
<body>
<table width="45%" align="center">
    <tr>
        <td align="center">
            <form method="post"> {%csrf_token%}
                {{form.as_p}}
                <input type="submit" value="Sign In">
            </form>
        </td>
    </tr>
</table>
</body>
</html>